<p-card class="sidenav-card">
  <div class="sidenav">
    <div class="sidenav__brand">
      <h2 class="sidenav__brand-title">
        <span class="sidenav__brand-light">Offer</span>
        <span class="sidenav__brand-divider">|</span>
        <span class="sidenav__brand-strong">Vendor Portal</span>
      </h2>
    </div>
    <div class="sidenav__nav">
      <ul class="sidenav__list">
        @for (item of navItems(); track item.navLink) {
        <li
          [routerLink]="item.navLink || null"
          routerLinkActive="active-link"
          class="sidenav-item"
          (click)="navigate(item)"
        >
          <div class="left-bar"></div>
          <a pRipple class="sidenav-item__link">
            <span
              class="sidenav-icon"
              [style.webkitMaskImage]="'url(' + item.icon + ')'"
              [style.maskImage]="'url(' + item.icon + ')'"
              role="img"
              [attr.aria-label]="item.labelKey | translate"
            ></span>
            <span class="sidenav-item__label">{{ item.labelKey | translate }}</span>
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</p-card>
