<div class="create-ticket">
    <a class="create-ticket__back" (click)="onBack()">
        <i class="pi pi-arrow-left"></i>
        <span>{{ 'messaging.create.back' | translate }}</span>
    </a>

    <div class="create-ticket__card">
        <h2 class="create-ticket__heading">{{ 'messaging.create.title' | translate }}</h2>

        <div class="create-ticket__grid">


            <!-- Row 2 -->
            <div class="create-ticket__field create-ticket__field--full">
                <label class="create-ticket__label">
                    {{ 'messaging.create.ticketTitle' | translate }}<span class="create-ticket__required">*</span>
                </label>
                <input pInputText class="create-ticket__control" [(ngModel)]="title"
                    [placeholder]="'messaging.create.placeholder.title' | translate" />
            </div>

            <!-- Row 3 -->
            <div class="create-ticket__field">
                <label class="create-ticket__label">{{ 'messaging.create.ticketType' | translate }}<span class="create-ticket__required">*</span></label>
                <p-select class="create-ticket__control" [options]="categoryOptions()" optionLabel="label"
                    optionValue="value" [(ngModel)]="ticketType" [placeholder]="'messaging.create.placeholder.ticketType' | translate"
                    panelStyleClass="create-ticket__panel"></p-select>
            </div>

            <div class="create-ticket__field">
                <label class="create-ticket__label">
                    {{ 'messaging.create.linkedItem' | translate }}
                </label>
                <p-select class="create-ticket__control" [options]="linkedItemOptions()" optionLabel="label"
                    optionValue="value" [(ngModel)]="linkedItem"
                    [placeholder]="'messaging.create.placeholder.linkedItem' | translate"
                    panelStyleClass="create-ticket__panel"></p-select>
            </div>

            <!-- Row 4 -->
            <div class="create-ticket__field create-ticket__field--full">
                <label class="create-ticket__label">{{ 'messaging.create.description' | translate }}<span
                        class="create-ticket__required">*</span></label>
                <div class="create-ticket__editor">
                    <textarea class="create-ticket__textarea" [(ngModel)]="description" rows="6"
                        [placeholder]="'messaging.create.placeholder.description' | translate"></textarea>
                </div>
            </div>

            <!-- Attachments -->
            <div class="create-ticket__field create-ticket__field--full">
                <label class="create-ticket__label">
                    {{ 'messaging.create.attachments' | translate }}
                </label>
                <label class="create-ticket__dropzone">
                    <i class="pi pi-cloud-upload create-ticket__dropzone-icon"></i>
                    <p class="create-ticket__dropzone-text">
                        {{ 'messaging.create.dropzone' | translate }}
                        <span class="create-ticket__dropzone-link">{{ 'messaging.create.dropzoneLink' | translate }}</span>
                    </p>
                    <p class="create-ticket__dropzone-help">
                        {{ 'messaging.create.dropzoneHelp' | translate }}
                    </p>
                    <input type="file" class="create-ticket__file-input" multiple (change)="onFilesSelected($event)" />
                </label>
                @if (attachmentNames().length) {
                <ul class="create-ticket__file-list">
                    @for (name of attachmentNames(); track name) {
                    <li>{{ name }}</li>
                    }
                </ul>
                }
            </div>
        </div>

        <div class="create-ticket__actions">
            <button type="button" class="create-ticket__btn create-ticket__btn--cancel" (click)="onCancel()">
                {{ 'common.cancel' | translate }}
            </button>
            <button type="button" class="create-ticket__btn create-ticket__btn--submit" (click)="onSubmit()">
                {{ 'messaging.create.submit' | translate }}
            </button>
        </div>
    </div>
</div>