<p-dialog
  [visible]="visible()"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="dismissableMask()"
  [style]="{ width: '30rem', maxWidth: '90vw' }"
  styleClass="confirmation-pop-up"
  (onHide)="cancel.emit()"
>
  <ng-template pTemplate="header">
    <div class="confirmation-pop-up__header">
      <h2 class="confirmation-pop-up__title">{{ title() }}</h2>
    </div>
  </ng-template>

  <div class="confirmation-pop-up__body">
    <p class="confirmation-pop-up__message" *ngIf="!allowHtml()">{{ message() }}</p>
    <p class="confirmation-pop-up__message" *ngIf="allowHtml()" [innerHTML]="message()"></p>
  </div>

  <ng-template pTemplate="footer">
    <div class="confirmation-pop-up__actions">
      @if (showCancel()) {
        <app-cancel-button [label]="cancelLabel()" [disabled]="loading()" (click)="cancel.emit()"></app-cancel-button>
      }
      <app-button [loading]="loading()" (click)="confirm.emit()">{{ confirmLabel() }}</app-button>
    </div>
  </ng-template>
</p-dialog>
