<div class="offer-tile" [class.offer-tile--clickable]="!loading()" (click)="!loading() && tileClick.emit()">
  @if (loading()) {
  <div class="offer-tile__main offer-tile__main--skeleton">
    <span class="app-skeleton offer-tile__skeleton-icon"></span>
    <span class="app-skeleton offer-tile__skeleton-value"></span>
    <span class="app-skeleton offer-tile__skeleton-title"></span>
    <span class="app-skeleton offer-tile__skeleton-subtitle"></span>
  </div>
  } @else {
  <div class="offer-tile__main">
    <div
      class="offer-tile__icon-box"
      [class.offer-tile__icon-box--default-bg]="!iconContainerBg()"
      [style.background]="iconContainerBg() || null"
    >
      @if (isSvgIcon(icon())) {
      <span
        class="offer-tile__svg-icon"
        [style.color]="iconColor() || null"
        [style.webkitMaskImage]="'url(' + resolveIconUrl(icon()) + ')'"
        [style.maskImage]="'url(' + resolveIconUrl(icon()) + ')'"
      ></span>
      } @else {
      <i
        [class]="icon()"
        class="offer-tile__pi-icon"
        [style.color]="iconColor() || null"
      ></i>
      }
    </div>
    <h2 class="offer-tile__value">
      {{ value() }}
    </h2>
    <p class="offer-tile__title">{{ title() }}</p>
    <p class="offer-tile__subtitle">
      {{ subtitle() }}
    </p>
  </div>

  @if (badgeLabel()) {
  <span class="offer-tile__badge">{{ badgeLabel() }}</span>
  } @else if (trendLabel()) {
  <span
    class="offer-tile__trend"
    [class.offer-tile__trend--up]="trendUp()"
    [class.offer-tile__trend--down]="!trendUp()"
  >
    <i
      class="pi offer-tile__trend-icon"
      [class.pi-arrow-up]="trendUp()"
      [class.pi-arrow-down]="!trendUp()"
    ></i>
    {{ trendLabel() }}
  </span>
  }
  }
</div>
